/*公共颜色*/
$white:#FFFFFF;
$black:#000000;
$color1:#72819E;
$color2:#7F94B8;
$color3:#366FFF;
$color4:#1D2E59;
$color5:#6B85B3;
$color6:#446CB3;
$color7:#F07935;
$color8:#D9411E;

/*背景颜色*/
$bgColor1:#14243B;
$bgColor2:#1F2B4A;
$bgColor3:$color3;
$bgColor4:$color4;
$bgColor5:linear-gradient(90deg, #477AFC 0%, #CB45E6 100%);
$bgColor6:rgba(0, 0, 0, 0.1);